{% extends 'base.html' %}
{% block css %}
   <link rel="stylesheet" href="../static/css/product.css">
   <link rel="stylesheet" href="../static/css/Anasayfa.css"> 
{% endblock css %}
{% block body %}
     <!-- container div -->
	<div class="container">

		<!-- upper button section to select
			the login or signup form -->
		
		<div class="btna">
			<p style="font-size: 30px; text-align: center; margin-top: 13px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Şifre Değiştir</p>
		</div>

		
		<div class="form-sectiona " style="margin-left: 420px;">

			<!-- login form -->
			<form method="POST">
				{% csrf_token %}
                {% if hata %}
                <div class="text-danger">{{ hata }}</div>
                {% endif %}
				
					<input type="password" name="password"
						class="passworda elea"
						placeholder="Eski Şifre">
                        <br>
					<input type="password" name="password1"
						class="passworda elea " style="margin-top: 20px;"
						placeholder="Yeni Şifre">
                        <br>
					<input type="password" name="password2"
						class="passworda elea" style="margin-top: 20px;"
						placeholder="Yeni Şifre Tekrarı">
                        <br>
					<button type="submit" class="clkbtna" style="margin-top: 20px; margin-left: 130px;" href="#">Şifre Değiş</button>
							
				</div>
			</form>

			
		</div>
	</div>
{% endblock body %}
    
  
   