{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/Anasayfa.css"> 
<!-- <link rel="stylesheet" href="../static/css/product.css"> -->
{% endblock css %}
  

  

{% block body %}
  <!-- orta -->
<div class=" container-fluid orta iletişim1">
  <div class="container">
    <div class="innerwrap">
    
        <section class="section1 clearfix">
            <div class="textcenter">
               
                <span class="seperator"></span>
                <h1>İletişim Formu</h1>
            </div>
        </section>
   
   
        <section class="section2 clearfix">
            <div class="col2 column1 first">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1558.8337513551971!2d27.41260579635847!3d38.610522551896786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b99c5eb60d3d95%3A0x48e1b1f3bfeae212!2sArena%20Fitness!5e0!3m2!1sen!2str!4v1671708123938!5m2!1sen!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col2 column2 last">
                <div class="sec2innercont">
                    <div class="sec2addr adres">
                        <p>Merkez Efendi, İzmir Cd. 230 A, 45120 Manisa Merkez/Manisa</p>
                        <p><span class="collig">Telefon Numarası :</span> +90 539 861 97 54</p>
                        <p><span class="collig">Email :</span> fıtnessklubu@gmail.com</p>
                        
                    </div>
                </div>
                <div class="sec2contactform">
                    <h3 class="sec2frmtitle">Hemen İletişime Geçmek İçin Form Gönderin</h3>
                    <form method="POST" >
                      
                        <div class="clearfix">
                           
                            <input class="col2 first"  name="first_name"  type="text">
                    
                            <input class="col2 last" name="last_name" type="text" placeholder="Soyisim">
                        </div>
                        <div class="clearfix">
      
                            <input  class="col2 first" type="Email" name="email" placeholder="Email">
                            <input class="col2 last" type="text" for="phone" placeholder="Telefonunuz">
                        </div>
                        <div class="clearfix">
                            <textarea name="message">Mesajınız...</textarea>
                        </div>
                        <button href="Anasayfa.html" type="submit" class="btnbt">Gönder</button>
                        
                    </form>
                </div>

            </div>
        </section>
    
    </div>
</div>
</div>
    
    



    <script>
     

      var acc = document.getElementsByClassName("accordion");
      var i;
      for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
 
  this.classList.toggle("activess");


  var panel = this.nextElementSibling;
  if (panel.style.display === "block") {
    panel.style.display = "none";
  } else {
    panel.style.display = "block";
  }
});
}
</script>
  
{% endblock body %}
  
   

